<% var data = { title: "Заголовок | Проект", author: "Harrix" }; %> <%=
_.template(require('./../includes/header.html'))(data) %>
<!--Шапка начало-->
<header class="header">
	<div class="header__wrap">
		<div
			class="container wrapper wrapper_space-between wrapper_items-center wrapper_no-wrap"
		>
			<div class="header__logo">
				<a href="/" class="logo__link">
					<img src="img/logo.png" alt="Sev-dental-clinic" class="logo__logo" />
					<img
						src="img/logo-text.png"
						alt="Стоматологическая клиника"
						class="logo__text"
					/>
				</a>
				<div class="logo__line"></div>
				<div class="logo__desc">Больше, чем стоматология</div>
			</div>
			<div class="header__right">
				<div class="header__phone">
					<a href="tel:+79787444737"> +7 (978) 744 43 73 </a>
				</div>
				<div class="header__sleep">
					<button class="button button-sleep">Версия для слабовидящих</button>
				</div>
				<div class="header__menu">
					<span></span> <span></span> <span></span>
				</div>
			</div>
		</div>
	</div>
	<!--Меню-->
	<nav class="menu">
		<div class="container wrapper wrapper_space-between wrapper_no-wrap">
			<div class="menu__nav">
				<ul>
					<li><a href="#uslugi" class="active">Наши услуги</a></li>
					<li><a href="#about">О нас</a></li>
					<li><a href="#preim">Преимущества</a></li>
					<li><a href="#doctor">Наши врачи</a></li>
					<li><a href="#document"> Документация </a></li>
					<li><a href="#review">Отзывы</a></li>
					<li><a href="#contacts">Контакты</a></li>
				</ul>
			</div>
			<div class="menu__contacts">
				<div class="header__phone">
					<a href="tel:+79787444737"> +7 (978) 744 43 73 </a>
				</div>
				<div class="header__phone">
					<a href="mailto:sevastopol_8@mail.ru">sevastopol_8@mail.ru</a>
        </div>
        <div class="menu__social">
          <a href="https://vk.com/club66110341" target="_blank">
            <i class="fa fa-vk"></i>
          </a>
          <a href="https://www.instagram.com/dental_clinic_sevastopol/" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
			</div>
		</div>
	</nav>
	<!--меню конец-->
</header>
<!--Шапка конец-->
<!--Услуги начало-->
<section style="min-height: 100vh" id="uslugi"></section>
<!--Услуги конец-->
<!--О нас начало-->
<section style="min-height: 100vh" id="about"></section>
<!--О нас конец-->
<!--Преимущества начало-->
<section style="min-height: 100vh" id="preim"></section>
<!--Преимущества конец-->
<!--Врачи начало-->
<section style="min-height: 100vh" id="doctor"></section>
<!--Врачи конец-->
<!--Документация начало-->
<section style="min-height: 100vh" id="document"></section>
<!--Документация конец-->
<!--Отзывы начало-->
<section style="min-height: 100vh" id="review"></section>
<!--Отзывы конец-->
<!--Контакты начало-->
<section style="min-height: 100vh" id="contacts"></section>
<!--Контакты конец-->
<!--Cookie начало-->
<div class="cookie">
	<div class="cookie__text">
		На сайте используются cookie-файлы. Если вы остаетесь на сайте, значит вы
		согласны на использование этой технологии
	</div>
	<div class="cookie__button">
		<button class="button button-cookie">Хорошо</button>
	</div>
</div>
<!--Cookie конец-->
<%= _.template(require('./../includes/footer.html'))(data) %>
