<% var data = { title: "Заголовок | Проект", author: "Harrix" }; %> <%=
_.template(require('./../includes/header.html'))(data) %>
<!--Интерфейс версии для слабовидящих-->
<div class="sleep">
	<div class="container wrapper wrapper_space-between wrapper_items-center">
		<div class="sleep__fonts">
			Размер шрифта: <span style="font-size: 16px;">100%</span>
			<span style="font-size: 20px;">125%</span>
			<span style="font-size: 24px;">150%</span>
		</div>
		<div class="sleep__img">
			Изображения: <span>Включить</span> <span>Отключить</span>
		</div>
	</div>
</div>
<!--Интерфейс версии для слабовидящих конец-->
<!--Шапка начало-->
<header class="header">
	<div class="header__wrap">
		<div
			class="container wrapper wrapper_space-between wrapper_items-center wrapper_no-wrap"
		>
			<div class="header__logo">
				<a href="/" class="logo__link">
					<img src="img/logo.png" alt="Sev-dental-clinic" class="logo__logo" />
					<img
						src="img/logo-text.png"
						alt="Стоматологическая клиника"
						class="logo__text"
					/>
				</a>
				<div class="logo__line"></div>
				<div class="logo__desc">Больше, чем стоматология</div>
			</div>
			<div class="header__right">
				<div class="header__phone">
					<a href="tel:+79787444737"> +7 (978) 744 43 73 </a>
				</div>
				<div class="header__sleep">
					<button class="button button-sleep">Версия для слабовидящих</button>
				</div>
				<div class="header__menu">
					<span></span> <span></span> <span></span>
				</div>
			</div>
		</div>
	</div>
	<!--Меню-->
	<nav class="menu">
		<div class="container wrapper wrapper_space-between wrapper_no-wrap">
			<div class="menu__nav">
				<ul>
					<li><a href="#uslugi">Наши услуги</a></li>
					<li><a href="#about">О нас</a></li>
					<li><a href="#preim">Преимущества</a></li>
					<li><a href="#doctor">Наши врачи</a></li>
					<li><a href="#document"> Документация </a></li>
					<li><a href="#review">Отзывы</a></li>
					<li><a href="#contacts">Контакты</a></li>
				</ul>
			</div>
			<div class="menu__contacts">
				<div class="header__phone">
					<a href="tel:+79787444737"> +7 (978) 744 43 73 </a>
				</div>
				<div class="header__phone">
					<a href="mailto:sevastopol_8@mail.ru">sevastopol_8@mail.ru</a>
				</div>
				<div class="menu__social">
					<a href="https://vk.com/club66110341" target="_blank">
						<i class="fa fa-vk"></i>
					</a>
					<a
						href="https://www.instagram.com/dental_clinic_sevastopol/"
						target="_blank"
					>
						<i class="fa fa-instagram"></i>
					</a>
				</div>
			</div>
		</div>
	</nav>
	<!--меню конец-->
</header>
<!--Шапка конец-->
<!--Слайдер начало-->
<section class="section section_grey no-background" id="slider">
	<div class="carousel owl-carousel">
		<div class="container">
			<div class="slide">
				<div class="slide__image hide-image">
					<img src="img/5-2.png" alt="Безболезненное лечение зубов" />
				</div>
				<div class="slide__content full-screen">
					<h1 class="slide__title">Безболезненное лечение зубов с гарантией</h1>
					<div class="slide__text">
						«Dental Clinic» – правильная стоматология. Безболезненная?
						Естественно. Качественная? Гарантируем. Эффективная? На 100%. Лечить
						можно по-разному, но в «Dental Clinic» лечат только хорошо.
					</div>
					<div class="slide__info">
						<div class="slide__button">
							<button
								class="button modal-open"
								data-theme="Запись с первого слайдера"
							>
								Записаться
							</button>
						</div>
						<div class="slide__navigation"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide">
				<div class="slide__image hide-image">
					<img src="img/555-3.png" alt="Безболезненное лечение зубов" />
				</div>
				<div class="slide__content full-screen">
					<h2 class="slide__title">
						«Dental Clinic» – это игра для ребенка, спокойствие для родителей.
					</h2>
					<div class="slide__text">
						Наблюдение детского стоматолога необходимо так же, как внимание
						терапевта. Хорошее здоровье ребенка закладывает базу для хорошего
						здоровья взрослого. Не пренебрегайте возможностью избавить детей от
						проблем сейчас и в будущем.
					</div>
					<div class="slide__info">
						<div class="slide__button">
							<button
								class="button modal-open"
								data-theme="Запись с первого слайдера"
							>
								Записаться
							</button>
						</div>
						<div class="slide__navigation"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Слайдер конец-->
<!--Услуги начало-->
<section class="section section_white section_uslugi" id="uslugi">
	<div class="uslugi container">
		<div class="uslugi__head">
			<h2 class="title">Наши услуги</h2>
			<a href="img/price.pdf" target="_blank"
				>Скачать прайс-лист <i class="fa fa-arrow-right"></i
			></a>
		</div>
		<div class="uslugi__wrap">
			<div class="uslugi__item active">Протезирование зубов</div>
			<div class="uslugi__item">Эстетическая стоматология</div>
			<div class="uslugi__item">Профилактика заболеваний</div>
			<div class="uslugi__item">Ортодонтия</div>
		</div>
		<div class="uslugi__content">
			<div class="uslugi__text full-screen active">
				<div class="scrollbar-inner ">
					<p>
						Потеря зуба – это не просто плохо. Это недопустимо. Если не
						прибегать к протезированию, то возникнет ряд существенных
						осложнений:
					</p>
					<ul>
						<li>смещение зубного ряда;</li>
						<li>дегенерация костной ткани;</li>
						<li>воспалительные процессы слизистой полости рта;</li>
						<li>ухудшение качества пережевывания пищи;</li>
						<li>ухудшение дикции;</li>
						<li>потеря эстетической привлекательности улыбки.</li>
					</ul>
					<p>
						Протезирование зубов – единственная возможность сохранить здоровье
						ротовой полости, обеспечить нормальное протекание физиологических
						процессов и психологический комфорт.
					</p>
					<p>
						В <b>«Dental Clinic»</b> вы можете рассчитывать на профессиональную
						помощь и эффективное решение проблем, которые возникают при потере
						одного или нескольких зубов. Для вас:
					</p>
					<ul>
						<li>большой выбор способов протезирования;</li>
						<li>квалифицированный опытный персонал;</li>
						<li>доступные расценки;</li>
						<li>гарантия качества услуг.</li>
					</ul>
					<p>
						Не откладывайте протезирование. С <b>«Dental Clinic»</b> проблема
						будет решена быстро, эффективно, с минимальными затратами. Звоните,
						записывайтесь на консультацию.
					</p>
				</div>
				<div class="uslugi__button">
					<button
						class="button modal-open"
						data-theme="Запись с услуги Протезирование зубов"
					>
						Записаться
					</button>
				</div>
			</div>
			<div class="uslugi__text full-screen">
				<div class=" scrollbar-inner">
					<p>
						В зоне ответственности эстетической стоматологии лежат форма цвет
						зубов. Если для вас красивая улыбка – это важно, то
						<b>«Dental Clinic»</b> гарантирует, что она будет такой. Специалисты
						нашей клиники обеспечат:
					</p>
					<ul>
						<li>исправление прикуса;</li>
						<li>реставрацию;</li>
						<li>наращивание;</li>
						<li>отбеливание и пр.</li>
					</ul>
					<p>
						Современные методы помогают придать зубам желаемую форму и цвет
						достаточно просто и быстро. Для этого не нужно терпеть болезненные
						процедуры, нет необходимости в значительных финансовых затратах. Для
						вас:
					</p>
					<ul>
						<li>полный набор методов коррекции;</li>
						<li>доступные расценки;</li>
						<li>штат опытных специалистов;</li>
						<li>гарантия эффективности.</li>
					</ul>
					<p>
						Звоните сейчас, записывайтесь на прием. Более доступную и не менее
						качественную стоматологическую помощь, чем предлагает
						<b>«Dental Clinic»</b>, найти практически невозможно.
					</p>
				</div>
				<div class="uslugi__button">
					<button
						class="button modal-open"
						data-theme="Запись с услуги Эстетическая стоматология"
					>
						Записаться
					</button>
				</div>
			</div>
			<div class="uslugi__text full-screen">
				<div class="scrollbar-inner">
					<p>
						Профилактика заболеваний помогает сохранить здоровье и значительно
						дешевле лечения. Это непреложная истина, которая не потеряет
						актуальность никогда. Стоматология на современном уровне развития
						способна справиться с любой проблемой, но профилактика по-прежнему
						остается главной заботой врачей во всем мире.
					</p>
					<p>
						<b>«Dental Clinic»</b> гарантирует, что профилактические мероприятия
						под контролем наших специалистов, сохранят здоровье ваших зубов и
						десен. Для вас:
					</p>
					<ul>
						<li>профессиональная гигиена полости рта;</li>
						<li>удаление зубного налета и камня;</li>
						<li>полировка;</li>
						<li>фторирование.</li>
					</ul>
					<p>
						Регулярная профилактика крайне важна. В процессе профессиональной
						чистки также осуществляется и диагностика. У кариеса или заболевания
						десен нет шансов на развитие. Пациенты <b>«Dental Clinic»</b> – люди
						со здоровыми зубами. Звоните. Потратьте немного времени сегодня,
						чтобы избежать серьезных проблем и значительных затрат на лечение
						завтра
					</p>
				</div>
				<div class="uslugi__button">
					<button
						class="button modal-open"
						data-theme="Запись с услуги Профилактика заболеваний"
					>
						Записаться
					</button>
				</div>
			</div>
			<div class="uslugi__text full-screen">
				<div class="scrollbar-inner">
					<p>
						Аномальное развитие зубо-челюстного аппарата сегодня не представляют
						проблему. Особенно для специалистов <b>«Dental Clinic»</b>.
						Существует множество методик, которые помогают восстановить
						нормальное положение зубов и челюсти достаточно быстро, эффективно,
						без причинения значительных неудобств. Для вас:
					</p>
					<ul>
						<li>
							большой выбор ортодонтических аппаратов (брекеты, ретейнеры);
						</li>
						<li>штат высококвалифицированных опытных врачей;</li>
						<li>доступные расценки;</li>
						<li>гарантия результата.</li>
					</ul>
					<p>
						Нет задачи, с которой не справятся специалисты
						<b>«Dental Clinic»</b>. Звоните, записывайтесь на бесплатную
						консультацию. После осмотра врач предложит стратегию лечения
						заболевания с учетом ваших пожеланий и возможностей. Ортодонтия –
						одно из главных направлений деятельности <b>«Dental Clinic»</b>.
						Найти услуги более высокого качества на более выгодных условиях
						практически невозможно.
					</p>
				</div>
				<div class="uslugi__button">
					<button
						class="button modal-open"
						data-theme="Запись с услуги Ортодонтия"
					>
						Записаться
					</button>
				</div>
			</div>
			<div class="uslugi__image hide-image">
				<img data-original="img/mockup.jpg" class="lazy" alt="прайс-лист" />
			</div>
		</div>
	</div>
</section>
<!--Услуги конец-->
<!--О нас начало-->
<section class="section section_grey section_bg section_about" style="background-image: url(img/61.jpg)" id="about">
	<div class="about">
		<div class="about__image hide-image">
			<img data-original="img/797.jpg" alt="О нас" class="lazy" />
		</div>
		<div class="about__content full-screen">
			<h2 class="title">О нас</h2>
			<div class="about__text">
				<div class="scrollbar-inner">
					<p>
						<b>«Dental Clinic»</b> – это современные стоматологические услуги по
						доступным ценам. Если вы заботитесь о здоровье зубов, хотите
						сохранить привлекательную улыбку, но не готовы к чрезмерным, порой
						неоправданным затратам, то <b>«Dental Clinic»</b> – ваша клиника.
					</p>
					<p>
						Успех нашей практики базируется на двух составляющих, которым мы
						уделяем повышенное внимание – эффективность и доступность лечения.
						Стоматологические услуги могут быть качественными и недорогими. Мы
						доказываем это каждый день.
					</p>
					<h3>
						<b>«Dental Clinic»</b> – доступные стоматологические услуги высокого
						уровня
					</h3>
					<p>
						По одному вопросу к нам не обращаются дважды. Наши специалисты
						ориентированы на обеспечение 100% восстановления. Начиная с
						посещения <b>«Dental Clinic»</b>, и в далекой перспективе вы не
						вспомните о проблеме, которая вас беспокоит сегодня.
					</p>
					<p>
						В нашей клинике доступны все наиболее востребованные виды
						стоматологических услуг:
					</p>
					<ul>
						<li>лечение кариеса;</li>
						<li>протезирование;</li>
						<li>лечение десен;</li>
						<li>эстетическая стоматология.</li>
					</ul>
					<p>
						Эволюция в области стоматологии непрерывна.
						<b>«Dental Clinic»</b> развивается и совершенствуется постоянно,
						поэтому всегда гарантирует клиентам:
					</p>
					<ul>
						<li>качество услуг на максимально возможном уровне;</li>
						<li>100% эффективность;</li>
						<li>приемлемую стоимость лечения.</li>
					</ul>
					<p>
						Если сегодня какое-то заболевание можно лечить лучше, чем вчера, то
						одной из первых на новый уровень выходит <b>«Dental Clinic»</b>. При
						этом доступность услуг остается главным приоритетом.
					</p>
					<h3>Опытные специалисты – гарантия здоровья зубов</h3>
					<p>
						Современные возможности стоматологии крайне высоки. 
						При желании каждый человек может сохранять здоровье зубов и десен без особых усилий и неудобств.
						Наша клиника обеспечивает такую возможность за счет:
					</p>
					<ul>
						<li>
							опыта высококлассных специалистов;
						</li>
						<li>современного оборудования;</li>
						<li>эффективных препаратов;</li>
						<li>перспективных методик.</li>
					</ul>
					<p>
						Лечение у стоматолога давно не связано с болезненными ощущениями или дискомфортом. 
						Только ваше невнимательное отношение к собственному здоровью может стать причиной возникновения боли. 
						Получите профессиональную консультацию. Так вы сведете к минимуму риск осложнений. Своевременная диагностика – основа успешного лечения
					</p>
					<p>
						Мы создаем максимально комфортные условия для того, чтобы вы могли легко заботиться о здоровье зубов и десен. Для вас:
					</p>
					<ul>
						<li>минимальные расценки;</li>
						<li>гарантия на все услуги;</li>
						<li>удобное расположение и часы работы.</li>
					</ul>
					<p>Звоните, консультируйтесь, записывайтесь на прием. Разрешите нам позаботиться о вашем здоровье.</p>
				</div>
			</div>
		</div>
		<div class="about__preim">
			<div class="container wrapper wrapper_space-between">
				<div class="about__item">
					<h3>5+</h3>
					<div class="about__desc">Лет на рынке</div>
				</div>
				<div class="about__item">
					<h3>768+</h3>
					<div class="about__desc">Довольных клиентов за 2018 год</div>
				</div>
				<div class="about__item">
					<h3>%</h3>
					<div class="about__desc">
						Скидки клиентам
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--О нас конец-->
<!--Преимущества начало-->
<div class="section" id="preim">
	<div class="container">
		<div class="preim">
			<div class="preim__right hide-image">
				<img src="img/Кресло.jpg" alt="Наши Преимущества">
			</div>
			<div class="preim__left full-screen">
				<div class="preim__item">
					<div class="preim__img">
						<img src="img/protection.png" alt="Уровень качества">
					</div>
					<div class="preim__text">
						Высокий уровень и 
						контроль качества 
						лечения. 
					</div>
				</div>
				<div class="preim__item">
					<div class="preim__img">
						<img src="img/tooth-1.png" alt="Гарантия качества">
					</div>
					<div class="preim__text">
						Гарантия на все 
						оказанные медицинские 
						услуги.
					</div>
				</div>
				<div class="preim__item">
					<div class="preim__img">
						<img src="img/dentist.png" alt="Высококвалифицированный персонал">
					</div>
					<div class="preim__text">
						Высококвалифицированный   
						персонал.
					</div>
				</div>
				<div class="preim__item">
					<div class="preim__img">
						<img src="img/hospital.png" alt="Удобное местоположение.">
					</div>
					<div class="preim__text">Удобное местоположение.</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Преимущества конец-->
<!--Врачи начало-->
<section class="section section_doctor" style="background-color: #fbfbfb;" id="doctor">
	<div class="container">
		<div class="doctor__image">
			<img src="img/Фото.jpg" alt="Олег Анатольевич Лымарь">
		</div>
		<div class="doctor">
			<h2 class="title">Наши врачи</h2>
			<div class="doctor__wrapper">
				<div class="doctor__desc">
					Моя задача, как главного врача и практикующего стоматолога — это 
					создание комфортного и безболезненного лечение для наших пациентов. 
					Я получаю колоссальное удовольствие от возможности помочь людям.
				</div>
				<h3 class="doctor__name">Олег Анатольевич Лымарь</h3>
				<div class="doctor__job">Директор, главный врач, врач стоматолог общей практики, врач стоматолог-ортопед</div>
				<div class="doctor__text">
					<p>
						<b>1993-1998 гг.</b> - Крымский Государственный Медицинский Университет им. Георгиевского
					</p>
					<p>
						<b>1998-2000 гг.</b> - интернатура, Республиканская стоматологическая поликлиника, г.Симферополь.
					</p>
					<p>
						<b>2000-2004 гг.</b> - врач стоматолог в стоматологическом отделении Первомайской ЦРБ АРК
					</p>
					<p>
						<b>2004-2013 гг.</b> - врач стоматолог общей практики, врач стоматолог-ортопед, главный врач в стоматологии «Дентал Депо Севастополь», г. Севастополь.
					</p>
					<p>
						<b>С 2013 г.</b> - директор, главный врач, врач стоматолог общей практики, врач стоматолог-ортопед в Стоматологии «Dental Clinic».
					</p>
					<p>
						<b>Время работы:</b> 10:00-18:00
					</p> 
				</div>
				<div class="doctor__buttons">
					<div class="doctor__button">
						<button class="button modal-open">Записаться</button>
					</div>
					<div class="doctor__button doctor__certificate">
						<button class="button get-certificate">Смотреть сертификаты</button>
					</div>
				</div>
				<div class="doctor__images">
					<img src="img/CCI09012019_0007.jpg" alt="Сертификат №1">
					<img src="img/CCI09012019_0005.jpg" alt="Сертификат №2">
					<img src="img/CCI09012019_0006.jpg" alt="Сертификат №3">
				</div>
			</div>
		</div>
	</div>
</section>
<!--Врачи конец-->
<!--Документация начало-->
<section style="min-height: 100vh" class="section" id="document"></section>
<!--Документация конец-->
<!--Отзывы начало-->
<section style="min-height: 100vh" class="section" id="review"></section>
<!--Отзывы конец-->
<!--Контакты начало-->
<section style="min-height: 100vh" class="section" id="contacts"></section>
<!--Контакты конец-->
<!--Cookie начало-->
<div class="cookie">
	<div class="cookie__text">
		На сайте используются cookie-файлы. Если вы остаетесь на сайте, значит вы
		согласны на использование этой технологии
	</div>
	<div class="cookie__button">
		<button class="button button-cookie">Хорошо</button>
	</div>
</div>
<!--Cookie конец-->
<%= _.template(require('./../includes/footer.html'))(data) %>
